In [6]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [30]:
df= pd.read_csv('//Users/noppanut/Desktop/Python_Deep_Learning/Example4.csv',index_col=0)
df

    a   b   c   d
0   1   2   3   4
1   4   5   5   6
2   7   8   9  10
3  11  12  13  14

In [32]:
pd.read_excel('/Users/noppanut/Desktop/Python_Deep_Learning/Example4.xlsx',sheet_name='sheet1')

   Unnamed: 0   a   b   c   d
0           0   1   2   3   4
1           1   4   5   5   6
2           2   7   8   9  10
3           3  11  12  13  14

In [31]:
df = pd.read_excel('/Users/noppanut/Desktop/Python_Deep_Learning/Example4.xlsx',sheet_name='sheet1',index_col=0)
df

    a   b   c   d
0   1   2   3   4
1   4   5   5   6
2   7   8   9  10
3  11  12  13  14

In [40]:
pd.read_csv('/Users/noppanut/Desktop/Python_Deep_Learning/Example4.txt',sep='\t',lineterminator='\r',index_col=0)

    a   b   c   d
0   1   2   3   4
1   4   5   5   6
2   7   8   9  10
3  11  12  13  14